@media (max-width: 768px) {
    .cardNmap {
        height: 442px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        overflow: hidden;
        gap: 10px;
    }

    .btn {
        background: none;
        box-sizing: border-box;
        border: none;
        cursor: pointer;
        padding: 0;
    }

    .card {
        padding: 0;
        height: auto;
        display: flex;
        border-radius: 35px;
        flex-direction: column;
        /* ширина через style */
    }

    .background {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: -460px;
        z-index: -1;
        /* ширина через style */
    }

    .attributes {
        display: flex;
        flex-direction: column;
        height: 460px;
        padding: 70px 33px 33px;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .title, .description,
    .address, .metroStation,
    .tags {
        position: relative;
        display: flex;
    }

    .title, .description,
    .address, .metroStation,
    .type, .importance {
        text-align: left;
        color: white;
    }

    .titleNdescription {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 16px;
    }

    .title {
        font-size: 40px;
    }

    .description {
        font-size: 18px;
    }

    .address, .metroStation {
        font-size: 18px;
    }

    .tags {
        position: relative;
        display: flex;
        flex-direction: row;
        margin-top: auto;
        margin-bottom: 0;
        gap: 10px;
    }

    .type, .importance {
        border-radius: 19px;
        background: rgba(217, 217, 217, 0.48);
        padding: 3px 10px;
        font-size: 16px;
    }

    .map-wrapper {
        width: 346px;
        /* высоту задаём через inline style */
    }

    .map-content {
        width: 346px;
        height: 442px; /* фиксированная высота карты */
    }


}

@media (min-width: 769px) {
    .cardNmap {
        height: 492px;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        overflow: hidden;
    }

    .btn {
        background: none;
        border: none;
        cursor: pointer;
        /* width через style */
    }

    .card {
        padding: 0;
        height: 492px;
        display: flex;
        border-radius: 35px;
        flex-direction: column;
        /* ширина через style */
    }

    .background {
        position: relative;
        top: 0;
        left: 0;
        height: auto;
        margin-bottom: -476px;
        z-index: -1;
        /* ширина через style */
    }

    .attributes {
        display: flex;
        flex-direction: column;
        height: 370px;
        padding: 70px 33px 33px;
        justify-content: space-between;
    }

    .title, .description,
    .address, .metroStation,
    .tags {
        position: relative;
        display: flex;
    }

    .title, .description,
    .address, .metroStation,
    .type, .importance {
        text-align: left;
        color: white;
    }

    .titleNdescription {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .title {
        font-size: 40px;
    }

    .description {
        font-size: 20px;
    }

    .address, .metroStation {
        font-size: 20px;
    }

    .tags {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .type, .importance {
        border-radius: 19px;
        background: rgba(217, 217, 217, 0.48);
        padding: 3px 10px;
        font-size: 16px;
    }

    .map-wrapper {
        width: 100%;
        /* высоту задаём через inline style */
    }

    .map-content {
        width: 100%;
        height: 100%; /* фиксированная высота карты */
    }

}

